#version=RHEL8
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Use graphical install
graphical

# Use CDROM installation media
cdrom
# Use NFS installation media
#url --url ftp://username:password@server/path

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device="$interface"
#network  --bootproto=static --device=enp2s0 --gateway=192.168.100.1 --ip=192.168.100.103 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=jenkins.serv.XXX
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$AIewwdcVui9ZHHoz$Xq/EunMUY.ZWI.dQBS6IHfYrAnDqanlZmv5EJtEp6DWxYB1DGKe/GQMC0WZCIsO5mA3Zk7o3r2HRMlafmu7Ei0

# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Kiev --isUtc

#Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part / --fstype="ext4" --ondisk=sdb --size=5120
part /boot --fstype="ext4" --ondisk=sdb --size=1024
part swap --fstype="swap" --ondisk=sdb --size=1024

# Reboot after install
reboot --eject

#Firewall configuration
firewall --disabled 
# SELinux configuration
selinux --disabled


%pre  #--interpreter=/usr/bin/sh
# ======== interface =================
interface=$(ip r | grep ^default | cut -d' ' -f5)

# ========= check disk =============== 
%end

%packages
@^server-product-environment
kexec-tools

%end

%post
#mkfs.ext4  /dev/sdc1
#pvcreate /dev/sdb4 /dev/sdc1

#vgcreate vg0 /dev/sdc1
#lvcreate -n lv_jenkins -L 500G data /dev/sdc1
#mkfs.ext4  /dev/vg0/lv_jenkins
#vgextend vg0 /dev/sdb4
#lvcreate -n lv_cache_meta -L 1G  vg0 /dev/sdb4
#lvcreate -L 50G -n lv_cache vg0 /dev/sdd4
#lvconvert --type cache-pool  --cachemode writeback --poolmetadata vg0/lv_cache_meta vg0/lv_cache
#lvconvert --type cache --cachepool vg0/lv_cache vg0/lv_jenkins

#dnf update -y

#yum install openjdk-8-jre
#yum install openjdk-8-jdk

# %end




%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

